{% load static %}
{% include 'main/header.html' %}

<div class="py-12 w-full flex flex-col items-center  bg-yellow-500 text-yellow-100 opacity-95 text-center">
    <h1 class="font-bold text-4xl text-center p-4 pt-0">Support and Donations</h1>
    <div class=" w-full flex  flex-col sm:flex-row justify-center sm:justify-around">
      <div class=" sm:w-1/2  border  rounded m-6 p-6">
       <table class="w-full items-left justify-left">
        <tr><td><span class="text-2xl">Account Details</span></td></tr>
        <tr><td>Bank Name: </td><td>FCMB</td></tr>
        <tr><td>Account Name: </td><td>Help Africa Women and children foundation</td></tr>
        <tr><td>Account Number: </td><td>9186632019 </td></tr>
        <tr><td>Account Type: </td><td>Current Account </td></tr>
       </table>
      </div>
      <div class=" sm:w-1/2  m-6 p-6 ">
        
        {% for post in support%}
        <span class="text-xl">{{post.title}}</span>
        <iframe class="w-full h-60" src="https://www.youtube.com/embed/{{post.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span class="text-sm">{{post.body}}</span>
        {% endfor %}
      </div>
    </div>
    
</div>
{% include 'main/footer.html' %}